*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Web app
webapp/node_modules/
webapp/build/
webapp/.env
webapp/.env.local
webapp/.env.development.local
webapp/.env.test.local
webapp/.env.production.local
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
